header{
    width: 100%;
    z-index: 1;
    padding: 1rem 0rem;
    background: #000;

    .navbar-brand{
        background: transparent;
        margin-right: 4rem;

        .svg-icon-netflix-logo{
            fill: #e50914;
            width: 13.4rem;
        }
    }
    .nav-link{
        color: #fff;
        font-size: 1.6rem;
        margin: 0 1rem;
        font-family: regular;
    }
    .dropdown{
        a{
            font-size: 16px;
            font-family: light;
        }
        img{
            width:3rem;
            border-radius: .5rem;
        }
        .dropdown-item{
            padding: .5rem 1.5rem;
            cursor: pointer;
            &:hover{
                background: #333;
                color: #fff;
            }
        }
    }
    .dropdown-toggle::after{
        border-width:.5rem .5rem 0 .5rem ;
        color: #fff;
        margin: 0 .8rem;
    }
}
.navbar-toggler img{
    width: 2.6rem;
    height: 2.6rem;
}

.navbar-collapse.show{
    background: #222;
    z-index: 999;
    border-radius: 4px;
}
// @media only screen and (min-width: 1200px) {
//     .container{
//         max-width: 1240px !important;
//     }
// }