header{
    width: 100%;
    z-index: 1;
    padding: 1rem 0rem;
    background: #000;

    .navbar-brand{
        background: transparent;
        margin-right: 4rem;

        .svg-icon-netflix-logo{
            fill: #e50914;
            width: 13.4rem;
        }
    }
    .nav-link{
        color: #fff;
        font-size: 1.6rem;
        margin: 0 1rem;
        font-family: regular;
    }
}

// @media only screen and (min-width: 1200px) {
//     .container{
//         max-width: 1240px !important;
//     }
// }