header{
    position: absolute;
    z-index: 1;
    padding: 2.8rem 5.6rem 0;

    .brand-logo{
        width: 10rem;
        background: transparent;

        .svg-icon-netflix-logo{
            fill: #e50914;
            width: 13.4rem;
        }
    }
    .red-btn{
        background-color: #e50914;
        line-height: normal;
        padding: .7rem 1.7rem;
        font-weight: 400;
        font-size: 1.6rem;
        font-family: regular;
        color: #fff;
    }
    select{
        padding-left: 1.375rem;
        padding-right: 1.375rem;
        line-height: 1.3rem;
        overflow: hidden;
        white-space: nowrap;
        color: #fff;
        font-family: regular;
        height: 3.5rem;
        border: 1px solid #fff;
        background: transparent;

        option{
            background: #666;
        }
    }
}


.hero-section{
    background-image:linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%),url('/assets/img/withoutLogin/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;


    .hero-section-text{
        color: #fff;
        max-width: 65rem;
        width: 100%;
        text-align: center;

        h1{
            font-size: 5rem;
            font-family: medium;
            line-height: 1;
        }
        h2{
            font-size: 2.5rem;
            line-height: 1.1;
            font-family:regular;
            margin: 1.6rem auto;
        }
        h3{
            font-size: 1.9rem;
            font-family:light;
            line-height: 1.1;
            margin-bottom: 2rem;
        }
    }
   
}


:host  ::ng-deep .search-bar {
    display: flex;
    width:60rem;
    max-width: 90%;
    margin: auto;

    .mat-form-field{
        flex-grow: 1;
    }

    .mat-form-field-flex{
        border-radius: 0;
        background: #fff;
        font-family: regular;
        font-size: 1.6rem;
        height: 6rem;

    }
    
    button{
        height: 6rem;
        padding:0 5%;
        border:.1rem solid #e50914;
        background: #e50914;
        color: #fff;
        font-size: 2.2rem;
        font-family: regular;
    }
}

.feature-section-list{
    .feature-section{
        padding: 5rem 0;
        background: #000;
        border-top: .8rem solid #222;
        h2{
            font-size: 5.2rem;
            line-height: 1.2;
            font-family: medium;
            color: #fff;
        }
        p{
            font-size: 2.2rem;
            line-height: 1.2;
            font-family: regular;
            color: #fff;
        }
        .tv-mockup{
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        .card-story-animation{
            width: 100%;
            display: flex;
            align-items: center;
            border: 2px solid #222;
            padding: 1rem;
            border-radius: 1rem;
            position: absolute;
            bottom: 10%;
            background: #000;
            width: 60%;
            left: 50%;
            transform: translateX(-50%);

            .card-img{
                width: 6rem;
                margin-right: 1rem;
            }
            .card-text{
                flex-grow: 1;
            }

            .text1{
                font-size: 1.6rem;
                font-family: medium;
                margin-bottom: 0;
            }
            .text2{
                font-family: light;
                font-size: 1.4rem;
                color: #0071eb;
                margin-bottom: 0;
            }
            .anim-icon{
                width: 4.5rem;
            }

        }

    }
    
}
.faq{
    h2{
        text-align: center;
    }
    .accordion{
        margin: 5rem auto 0;
        width: 80%;
    }
    .accordion-item{
        border: none;
        background: none;
        margin-bottom: 1rem;
    }
    .accordion-header{
        background: #303030 !important;
        border-bottom:1px solid #000 ;
        margin-bottom: 0;

    }
    .accordion-button{
        background: transparent;
        font-family: regular;
        margin-bottom: 1px;
        padding: 1.5rem;
        font-size: 2.2rem;
        color: #fff;

        &:focus{
            outline: none;
            box-shadow: none;
        }
    }
    .accordion-body{
        background: #303030;
    }
}

@media only screen and (max-width: 767px) {
    header{
        padding: 1.5rem 1.5rem 0;
        .svg-icon-netflix-logo{
            width: 12rem !important;
        }
        .mx-5{
            margin: 0 1rem !important;
        }
    
  }
}