.main-wrapper{
    background-image:url('/assets/img/withoutLogin/bg-lost-in-space.png');
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .header{
        padding: 2rem 4rem 2rem;
        background: #000;

        .brand-logo{
            width: 10rem;
            background: transparent;
    
            .svg-icon-netflix-logo{
                fill: #e50914;
                width: 9.4rem;
            }
        }
    }
    .error-content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.2) 45%, rgba(0, 0, 0, 0.1) 55%, rgba(0, 0, 0, 0) 70%);
        h1{
            text-shadow: 0 1px 2px rgb(0 0 0 / 57%);
            color: #fff;
            font-size: 6rem;
            font-family: bold;
            line-height: 1.2;
            margin-bottom:3rem;
        }
        p{
            text-shadow: 0 1px 2px rgb(0 0 0 / 57%);
            color: #fff;
            font-size: 2.2rem;
            font-family:light;
            margin-bottom:3rem;
            line-height: 1.2;

        }
        button{
            font-family: medium;
            font-size: 1.8rem;
            padding: .4rem 4rem;

        }
    }
}

@media only screen and (max-width: 767px) {
    .error-content{
        width: 90%;
        h1{
            font-size: 4rem !important;
            margin-bottom:3rem !important;
        }
    }
}