
<app-preview></app-preview>

<div class="slider-list">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <app-pupular-kids></app-pupular-kids>
            </div>
            <div class="col-md-12">
                <app-best2015></app-best2015>
            </div>
            <div class="col-md-12">
                <app-best2000></app-best2000>
            </div>

            <div class="col-md-12">
                <app-highest-grossing></app-highest-grossing>
            </div>

            <div class="col-md-12">
                <app-comedy-movies></app-comedy-movies>
            </div>

            
            <div class="col-md-12">
                <app-popular-movies></app-popular-movies>
            </div>


            <div class="col-md-12">
                <app-best2010></app-best2010>
            </div>

            <div class="col-dm-12">
                <app-tom-cruise></app-tom-cruise>
            </div>


            <div class="col-md-12">
                <app-best-drama></app-best-drama>
            </div>

            <div class="col-md-12">
                <app-science-fiction></app-science-fiction>
            </div>

            <div class="col-md-12">
                <app-brad-pitt></app-brad-pitt>
            </div>

        </div>
    </div>
</div>

<app-footer></app-footer>
