
.preview-container{
    position: relative;
    padding-top: 6rem;

    .header-cont{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    iframe{
        width:100%;
        aspect-ratio: 2.2;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    50% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}
