/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@font-face {
    font-family:light;
    src: url(assets/fonts/NetflixSans-Light.otf)
}
@font-face {
    font-family:regular;
    src: url(assets/fonts/NetflixSans-Regular.otf)
}
@font-face {
    font-family:medium;
    src: url(assets/fonts/NetflixSans-Medium.otf)
}
@font-face {
    font-family:Bold;
    src: url(assets/fonts/NetflixSans-Bold.otf)
}